<div class="col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <nav class="nav flex-column">
      <LinkTo @route="lists" class="nav-item nav-link active">My Lists</LinkTo>
      <LinkTo @route="lists" class="nav-item nav-link">My Lists</LinkTo>
      <LinkTo @route="lists" class="nav-item nav-link">My Lists</LinkTo>
    </nav>
  </div>
</div>
